@tailwind base;
@tailwind components;
@tailwind utilities;

/* ham menu navbar animation */
.hamburger {
    width: 40px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.hamburger span {
    height: 6px;
    width: 100%;
    background: #ED0061;
    border-radius: 4px;
    transition: all 0.3s ease;
}

/* Animation to X */
.hamburger.open span:nth-child(1) {
    transform: rotate(45deg) translate(7px, 7px);
}

.hamburger.open span:nth-child(2) {
    opacity: 0;
}

.hamburger.open span:nth-child(3) {
    transform: rotate(-45deg) translate(8px, -8px);
}